<apex:page standardcontroller="Account" extensions="DependantPicklistCon">
<apex:form id="TheForm">
    <apex:selectList value="{!strRecordType}" multiselect="false">
        <apex:selectOptions value="{!RecordTypes}"/>
        <apex:actionsupport event="onchange" action="{!updateRecordType}" rerender="TheForm"/>
    </apex:selectList>
    <apex:inputfield value="{!Account.AccountSource}"/>
</apex:form>
</apex:page>