<apex:page standardController="Account" showHeader="false" extensions="TrianingPageController">
 <apex:detail relatedList="true"/>
 <apex:pageBlock title="Details" >
 <apex:pageBlockSection title="Contact list" >
 <apex:pageBlockTable value="{!ContactList}" var="contact" rendered="true"></apex:pageBlockTable>
 </apex:pageBlockSection>
 
 </apex:pageBlock>
</apex:page>